section{
    .container{
        .sectionfoo{
            .title{
                h1{
                    font-family: Playfair Display;
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 50px;
                    letter-spacing: 0%;
                    text-align: center;
                    color: rgba(0, 0, 0, 1);
                    
                }
            }
            .sectionfoo-wrapper{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .sectionfoo-left{
                    width: 45%;
                    h1{
                        font-family: Mulish;
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 36px;
                        letter-spacing: 0%;
                        
                    }
                    p{
                        font-family: Inter;
                        font-weight: 700;
                        font-size: 22px;
                        line-height: 48px;
                        letter-spacing: 0%;
                        
                    }
                    a{
                        font-family: Inter;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 48px;
                        letter-spacing: 0%;
                        color: black;
                        opacity: 0.5;
                        &:hover{
                            opacity: 1;
                        }
                        
                    }
                }
                .sectionfoo-right{
                    width: 45%;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media(max-width:666px){
 .sectionfoo-wrapper{
    flex-direction: column;
    .sectionfoo-left{
        width: 100%;
        text-align: center;
    }
    .sectionfoo-right{
        width: 100%;
    }
 }
}
