.section-three .container .section-wrapper {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 0;
}
.section-three .container .section-wrapper .left {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section-three .container .section-wrapper .left h1 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}
.section-three .container .section-wrapper .left p {
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 30px;
}
.section-three .container .section-wrapper .left a {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background: sandybrown;
  width: 150px;
  border-radius: 7px;
  border: 1px solid sandybrown;
  text-decoration: none;
}
.section-three .container .section-wrapper .left a:hover {
  background: transparent;
  color: black;
  opacity: 0.8;
}
.section-three .container .section-wrapper .right {
  width: 45%;
}
.section-three .container .section-wrapper .right img {
  width: 100%;
  height: auto;
}

@media (max-width: 880px) {
  .section-three .section-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .section-three .section-wrapper .left, .section-three .section-wrapper .right {
    width: 100%;
  }
  .section-three .section-wrapper .left {
    margin-bottom: 30px;
    align-items: center;
  }
  .section-three .section-wrapper .left a {
    width: 100%;
  }
}